body{
	margin: 0;
}
h1{
	margin: 0;
}
.img{
	width: 200px;
	height: 200px;
	margin-top: 50px;
	/*border: 2px solid red;*/
	border-radius: 50%;
}
.slide{
	color: white;
	}
.cover-slide{
	width: 100%;
	height: 70vh;
	border: 2px solid white;
	border-radius: 15px;
}
.detail{
	display: flex;
	
	justify-content: center;
}

.container-link {
	width: 80%;
	height: 70vh;
	margin: 4% auto;
	border-radius: 15px;
}
.containt{
	margin: 0;
	padding: 0;
}

/*.cover-slide:hover{
	display: ;
	border: 5px solid green;
}
*/
.airbnb{
	
	background-image: url(../images/airbnb-cover.png);
	background-size: cover;

}
.irvingfarm{
	background-image: url(../images/irvingfarm-cover.png);
	background-size: cover;
}
.art-like{
	background-image: url(../images/art-like-cover.png);
	background-size: cover;
}
.panamburger{
	background-image: url(../images/panamburger-cover.png);
	background-size: cover;
}

.prez{
	background-color: black;
	color: white;
	text-align: center;
}

.bouton-github{
	width: 100px;
	height: 50px;
	background-color: red;
	/*display: none;*/
}




























